svg.timeline {
	font-family: Arial, sans-serif;
	font-size: 10px;

	.axis {
		path, line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}
	}
	.bar {
		fill: steelblue;
	}
	.tick {
		font-family: Arial, sans-serif;
		font-size: 10px;
	}
	.time-segment {
		fill: rgba(239, 233, 43, 0.7);
		cursor: col-resize;
	}
	.segment-dragging {
		fill: rgba(20, 255, 145, 0.9);
		stroke: rgba(20, 255, 145, 1);
		stroke-width: 1;
	}
}
