{% extends "base.html" %}
{% block title %}Update Post{% endblock %}
{% block head %}
	{{ super() }}
	<!-- put css or js here -->
{% endblock %}
{% block content %}
	<h1>Update Post</h1>
	{% if error %}
		<div class="error">{{ error }}</div>
	{% endif %}
	<div class="info">
		This post was created on {{ helpers.date_format(post.date_created, '%a, %B %d %Y %I:%M %p') }}.<br />
		It was last modified on {{ helpers.date_format(post.date_modified, '%a, %B %d %Y %I:%M %p') }}
	</div>
	<form action="" method="post">
		<div class="row">
			<label for="body">Post Text</label>
			<textarea id="body" name="body">{{ post.body | e }}</textarea>
		</div>
		<div class="row">
			<button type="submit">Submit</button>
		</div>
	</form>
{% endblock %}
