svg.timeline-stage {
  font-family: Arial, sans-serif;
  font-size: 10px; }
  svg.timeline-stage .axis path, svg.timeline-stage .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  svg.timeline-stage .bar {
    fill: steelblue; }
  svg.timeline-stage .tick {
    font-family: Arial, sans-serif;
    font-size: 10px; }
  svg.timeline-stage .time-segment rect {
    fill: rgba(239, 233, 43, 0.7);
    cursor: ew-resize; }
    svg.timeline-stage .time-segment rect.time-segment-width-handle {
      fill: #000; }
      svg.timeline-stage .time-segment rect.time-segment-width-handle:hover {
        fill: #00f; }
    svg.timeline-stage .time-segment rect.time-segment-rect:hover {
      stroke: #000;
      stroke-dasharray: 1,1;
      stroke-width: 2; }
  svg.timeline-stage .time-segment text {
    fill: black; }
  svg.timeline-stage .segment-dragging rect {
    fill: rgba(20, 255, 145, 0.9);
    stroke: #14ff91;
    stroke-width: 1; }
    svg.timeline-stage .segment-dragging rect.time-segment-width-handle {
      opacity: 0; }
  svg.timeline-stage .segment-resizing rect {
    fill: rgba(20, 145, 255, 0.9); }
    svg.timeline-stage .segment-resizing rect.time-segment-width-handle {
      fill: #00f; }
