<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}" />
		<title>{% block title %}no-title{% endblock %} - welcome to my hell</title>
		{% endblock %}
	</head>
	<body>
	        {% with messages = get_flashed_messages(with_categories = true) %}
        	        {% if messages %}
                	        <ul class="flashes">
                        	        {% for category, message in messages %}
                                	        <li class="{{ category }}">{{ message }}</li>
                        	        {% endfor %}
                	        </ul>
        	        {% endif %}
	        {% endwith %}
		<div id="container">
			<div id="sidebar">{% block sidebar %}{% endblock %}</div>
			<div id="content">{% block content %}{% endblock %}</div>
		</div>
	</body>
</html>
