doctype html
html(lang="en")
	head
		script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript",src="js/jquery.doge.min.js")
		script(type="text/javascript",src="js/app.js")
	body
		button(id="test", type="button") Test the Doge!
		button(id="test2", type="button") Test the Doge 2!